.head {
    font-size: 3rem;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.button{
    border-radius: 8px;
    margin-top: 2rem;
}