.form{

    padding: 3rem 1.5rem;

}

.form h2 {
    margin-bottom: 2.5rem;
}

.form button{
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 3rem;
}

.formGroup{
    margin-bottom: 2rem;
}

.formGroup label{
    display: block;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formGroup input{
    display: block;
    margin-top: .5rem;
    padding: 12px 16px;
}