
.search_head{
    text-align: center;
}

.form{
    display: flex;
    align-items: stretch;
    margin: 2rem auto;
    padding: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 3rem;
}

.form input{
    margin: 0;
    margin-right: 1rem !important;
}

.form button{
    margin: 0;
}

.books{
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bookItemLink{
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 2rem;
}

.bookItemLink:hover{
    text-decoration: none;
    color: rgb(34, 34, 34);
    filter: none;
}


.bookItem{
    background-color: #fff;
}

.bookImageContainer{
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.bookItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: .5s;
    transform-origin: center;
    filter: grayscale(0.2)
}

.bookItemLink:hover .bookItem img{
    scale: 1.1;
    filter: grayscale(0)
}

.bookItemInfo{
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.bookItemInfo > div{
    min-width: 50%;
    margin-bottom: 1rem;
}

.bookItemInfo h5 {
    font-size: 1rem;
    margin-bottom: .1rem;
    font-weight: 600;
}
.bookItemInfo p{
    margin: 0;
    font-weight: 500;
}